.servicos {
    margin: 50px auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .servico {
        margin: 20px;
        padding: 20px;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        background-color: $cor-branco;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: .5s;
        cursor: pointer;

        h2 {
            font-size: 1.5rem;
            color: $cor-secundaria;
            text-align: center;
        }

        p {
            font-size: 1rem;
            color: $cor-cinza;
            text-align: center;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}


@media (max-width: 768px) {
    .servicos {
        margin: 30px auto;
        max-width: 1400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        .servico {
            margin: 10px;
            padding: 20px;
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            background-color: $cor-branco;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            transition: .5s;
            cursor: pointer;


            h2 {
                font-size: 1.5rem;
                color: $cor-secundaria;
                text-align: center;
            }

            p {
                font-size: 1rem;
                color: $cor-cinza;
                text-align: center;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}